[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
pycountry = "*"
django-filter = "*"
openpyxl = "*"
django-factory-boy = "*"
django-extensions = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-countries = "*"
pillow = "*"
django-phonenumber-field = "*"
django-phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.9"
