{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% load static %}

{% block content %}

  {% url 'my_releases' as my_releases %}
  {% if request.path == my_releases %}
      <a class="btn btn-outline-success" href="{% url 'import_releases' %}">Import</a>
  {% endif %}

  {% for release in releases %}

    <div class="p-2 shadow-4 rounded-3 mt-1" style="background-color: #283046">
      <div class="row">
        <div class="col-2">
          <img src="{{ release.cover_image.url }}" alt="" srcset="" class="img-thumbnail">
        </div>
        <div class="col-4">
          <p>{{ release.band_name }} ({{ release.country }})</p>
          <p>{{ release.album_title }} - {{ release.format }} | {{ release.divide_media_format }}</p>
          <p>{{ release.base_style }}</p>
          <p>{{ release.submitted_at|date:"d.m.Y" }} <a href="{% url 'label_detail'  release.label.pk %}">{{ release.label.name }}</a>
              ({{ release.label.profile.country }})</p>
        </div>
        <div class="col-4">

          <p>
            Trade points:
            {% if release.releasetradesinfo.trade_points is None %}
              -
            {% else %}
              {{ release.releasetradesinfo.trade_points }}
            {% endif %}
          </p>
          <p>Wholesale prices: </p>
            {% for price in release.release_price.all %}
              <p>{{ price.price }} {{ price.currency }}</p>
            {% endfor %}

        </div>

        <div class="col-2">
          {% if not release.is_submitted %}
            <form action="{% url 'release_submit' release.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          {% endif %}
          {% if request.path == my_releases %}
            <a href="{% url 'edit_release' release.pk %}" class="btn btn-outline-primary mt-3">Edit</a>
            <button class="btn btn-outline-primary aud" value="{{ release.sample.url }}">Play</button>
          {% else %}
            <a href="{% url 'postman:write' release.profile.user.email %}" class="btn btn-success">Contact label</a>
          {% endif %}

        </div>

    </div>


  </div>

  {% endfor %}
  <div class="bg-light fixed-bottom">
    <div style="margin-right: 20%; margin-left: 20%">
        <audio id="audio-player" controls>
          <source id="audio-src" src="" type="audio/mp3"/>
        </audio>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.8/plyr.min.js" integrity="sha512-8Tq/SKkeNKeVYZCkk0esWn+r00nNMcfZhsdszg9GN7BZSGgV1v9AJ8qHDI/PqFqRYZVOe8Afbph7OFb7SWwaPA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.8/plyr.polyfilled.min.js" integrity="sha512-tu8A6GEb3W7Pe1a1LLCMM/UtTjJv3GaH653Nm+GaW/gHFTPFX5ZJIsDMULPVXsi8T448DcRELMSVRc1PDECTNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    let player = new Plyr('audio');

    function play_music(path){
        player.src = path;
        player.play();
    }

    let buttons = document.getElementsByClassName('aud');
    for (let i = 0; i < buttons.length; ++i) {
        let item = buttons[i];
        let path = item.value;
        item.onclick = function () {
            play_music(path);
        }
    }

  </script>
{% endblock content %}
