{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}


  {% url 'my_releases' as my_releases %}
  {% if request.path == my_releases %}
      <a class="btn btn-outline-success" href="{% url 'import_releases' %}">Import</a>
  {% endif %}
  <form action="{% url 'playlist_create' %}" method="POST" id="playlist-create-form">
      {% csrf_token %}
      <input type="hidden" id="playlist-data" name="data">
      <input type="text" class="form-control" name="playlist_name" placeholder="playlist name">
    <button class="mt-1 ml-3 mb-1 btn btn-outline-danger" type="button" id="create-playlist">CREATE</button>
  </form>

  <div class="row">
    <div class="col-6"><h3>My releases</h3></div>
    <div class="col-6"><h3>Playlist</h3></div>
  </div>

  <div class="row">

    <div class="col-6" id="first-main-block">


      {% for release in releases %}

        <li class="p-2 shadow-4 rounded-3 mt-1 release-block-{{ release.id }}" relid="{{ release.id }}" in_playlist="false" style="background-color: #283046">
          <div class="row">

            <div class="col-5">
              <p>{{ release.band_name }} ({{ release.country }})</p>
              <p>{{ release.album_title }} - {{ release.format }} | {{ release.divide_media_format }}</p>
              <p>{{ release.base_style }}</p>
              <p>{{ release.submitted_at|date:"d.m.Y" }}
                  {% if release.label %}
                    <a href="{% url 'label_detail' release.label.pk %}">
                        {{ release.label.name }}({{ release.label.profile.country }})
                    </a>
                  {% endif %}
            </div>
            <div class="col-5">

              <p>
                Trade points:
                {% if release.releasetradesinfo.trade_points is None %}
                  -
                {% else %}
                  {{ release.releasetradesinfo.trade_points }}
                {% endif %}
              </p>
              <p>Wholesale prices: </p>
                {% for price in release.release_price.all %}
                  <p>{{ price.price }} {{ price.currency }}</p>
                {% endfor %}

            </div>
            <div class="col-2">
                <button class="btn btn-primary add_to_playlist" release_id="{{ release.id }}">
                    add
                </button>
            </div>
              {% if release.sample %}
                <audio controls="controls">
                  <source src="{{ release.sample.url }}" type="audio/mpeg" />
                </audio>
                {% endif %}

        </div>
        </li>
      {% endfor %}
    </div>

    <div class="col-6">
        <ul id="second-main-block" class="sortable"></ul>

    </div>

  </div>


{% endblock content %}

{% block extra_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $( function() {
            $(".sortable").sortable();
          } );
    </script>

    <script>
        
        let buttons = $(".add_to_playlist");
        buttons.each(function (index) {

            let button = this;

            $(this).on("click", function () {

                let release_id = button.getAttribute("release_id");

                let first_main_block = $("#first-main-block");
                let second_main_block = $("#second-main-block");

                let block = $(".release-block-" + release_id);
                var in_playlist = block.attr("in_playlist");

                if (in_playlist === "false") {
                    second_main_block.append(block);
                    first_main_block.remove(block);

                    button.innerText = "cancel";

                    block.attr("in_playlist", "true");
                }

                else {
                    second_main_block.remove(block);
                    first_main_block.prepend(block);

                    button.innerText = "add";

                    block.attr("in_playlist", "false");
                }


            })
        });

        let create_button = $("#create-playlist");
        let form = $("#playlist-create-form");
        let data_unput = $("#playlist-data");

        create_button.on("click", function () {
            let data = {};
            let queue = 1;
            let second_main_block = $("#second-main-block");
            second_main_block.children().each(function () {
                data[queue] = this.getAttribute("relid");
                queue++;
            })

            data_unput.val(JSON.stringify(data));
            form.submit();

        })
        
    </script>

{% endblock %}
