{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Add Release{% endblock title %}

{% block content %}
  {% include 'releases_navbar.html' %}
  <h6 class="mb-4 mt-3">Add release</h6>
  <a class="btn btn-primary" href="{% url 'import_releases' %}">Import excel</a>
  <div class="row mt-2 mb-2">
    <div class="col-4">
      <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form|crispy }}
        <datalist id="options"></datalist>
        <button type="submit" class="btn btn-primary ml-4">Save draft</button>
        <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
      </form>
    </div>
  </div>




{% endblock content %}
{% block script %}
  var band_input = $("#id_band_name");
  var datalist = $("#options");
  band_input.attr("list", "options");

  band_input.on("input", function(){
    $.ajax({
      url: "{% url 'band_autocomplete' %}"+band_input.val(),
      success: function(data){
        console.log(data)
        datalist.empty();
        result = data

        for (var i=0; i < result.length; i++){
          datalist.append("<option value="+result[i]+">")
        }
      }
    })
  });
{% endblock %}