{% extends '_base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %}

{% include "release_date_navbar.html" %}

<!-- Otherwise dropdown menu won't work -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<ul class="nav nav-tabs mt-3 mb-4 mx-auto">
    <li class="nav-item" style="margin-left: 50px">
       <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Format
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ request.get_full_path }}CD">CD</a>
            <a class="dropdown-item" href="{{ request.get_full_path }}Vinyl">Vinyl</a>
            <a class="dropdown-item" href="{{ request.get_full_path }}Tape">Tape</a>
              <a class="dropdown-item" href="{{ request.get_full_path }}DVD">DVD</a>
          </div>
      </div>
    </li>
    <li class="nav-item" style="margin-left: 50px">
       <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Style
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Black Metal</a>
            <a class="dropdown-item" href="#">Death Metal</a>
            <a class="dropdown-item" href="#">Trash Metal</a>
          </div>
      </div>
    </li>

</ul>

  {% for release in object_list %}
  <div class="p-4 shadow-4 rounded-3 mt-3" style="background-color: hsl(0, 0%, 94%);">
    <div class="row">
        <div class="col-2">
            <img src="{{ release.cover_image.url }}" alt="" srcset="" class="img-thumbnail">
        </div>
        <div class="col-5">
            <p>{{ release.band_name }} ({{ release.country }})</p>
            <p>{{ release.album_title }} - {{ release.format }} | {{ release.divide_media_format }}</p>
            <p>{{ release.base_style }}</p>
            {% if not release.is_published %}
                <p>{{ release.release_date }} {{ release.label }} ({{ release.label.profile.country }})</p>
            {% else %}
                <p>{{ release.published_date }} {{ release.label }} ({{ release.label.profile.country }})</p>
            {% endif %}
        </div>
        <div class="col-5"></div>
    </div>

    <audio controls="controls">
      <source src="{{ release.sample.url }}" type="audio/mpeg" />
    </audio>

    {% if not release.is_published %}
        <form action="{% url 'publish' release.pk %}">
            <button type="submit" class="btn btn-primary ml-4">Publish</button>
        </form>
    {% endif %}
  </div>
  {% endfor %}

{% endblock content %}