{% extends '_base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'upcoming' %}">Upcoming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'recently_released' %}">Recently released</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Recently added</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'all_releases' %}">all</a>
            </li>
          </ul>
        </div>
    </div>
</nav>


  {% for release in object_list %}
  <div class="p-4 shadow-4 rounded-3 mt-3" style="background-color: hsl(0, 0%, 94%);">
    <div class="row">
        <div class="col-2">
            <img src="{{ release.cover_image.url }}" alt="" srcset="" class="img-thumbnail">
        </div>
        <div class="col-5">
            <p>{{ release.band_name }} ({{ release.country }})</p>
            <p>{{ release.album_title }} - {{ release.format }} | {{ release.divide_media_format }}</p>
            <p>{{ release.base_style }}</p>
            <p>{{ release.release_date }} {{ release.label }} ({{ release.label.profile.country }})</p>
        </div>
        <div class="col-5"></div>
    </div>
    <audio controls="controls">
        <source src="{{ release.sample.url }}" type="audio/mpeg" />
      </audio>
  </div>
  {% endfor %}

{% endblock content %}