<ul class="nav nav-tabs mt-3 mb-4">
  <li class="nav-item">
    <a class="nav-link
      {% if request.resolver_match.view_name == 'edit_release' %}
        active
      {% endif %}"
       href="{% url 'edit_release' request.resolver_match.kwargs.pk %}">Trades & Wholesale</a>
  </li>
  <li class="nav-item">
    <a class="nav-link
      {% if request.resolver_match.view_name in "'wholesale_and_trades_edit','release_wholesale_price_add'" %}
        active
      {% endif %}"
       href="{% url 'wholesale_and_trades_edit' request.resolver_match.kwargs.pk %}">Trades & Wholesale</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Marketing</a>
  </li>
</ul>

